<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Casa Baldini B&B</title>
	
	<!--Responsiveness-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    
	<!--FontAwesome-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
	
	<!--CSS Style-->
    <link href="/static/Ace-Menu/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="/static/Ace-Menu/css/ace-responsive-menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
     <div class="demo">    
	    
            <!-- Menu Toggle btn
             <span class="menu-toggle"> <h3 style="position: absolute;  top:-10px;left:0;" >Menu</h3> </span>-->
            <div class="menu-toggle" style=" position: absolute;  top:-20px; "  >
               
                <button  type="button" id="menu-btn">
                    <span  class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Responsive Menu Structure-->
            <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
            <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
             
                {% for menuwebs in menus %}
                <li>
                    <a href="javascript:;">
                       <span class="title">{{menuwebs.titolo}} </span>
                        <span class="arrow"></span>
 		            </a>
                    <ul>
                        {% for submenu in submenus %} 
                            {% if menuwebs.codice == submenu.radice %}
                                 <li>
                                 <a href="{{submenu.link}}" >{{submenu.titolo}}</a>
                                 </a>                            
                                </li>
                            {% endif %}
                        {% endfor %} 
                    </ul>
                   
                </li>
                {% endfor %}   
            </ul>
               
        
        <!-- End of Responsive Menu -->
    </div>
    
    <!--Scripts-->
    <script src="/static/Ace-Menu/js/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="/static/Ace-Menu/js/ace-responsive-menu.js" type="text/javascript"></script>
	
	<!--Plugin Initialization-->
    <script type="text/javascript">
         $(document).ready(function () {
             $("#respMenu").aceResponsiveMenu({
                 resizeWidth: '768', // Set the same in Media query       
                 animationSpeed: 'fast', //slow, medium, fast
                 accoridonExpAll: false //Expands all the accordion menu on click
             });
         });
	</script>


</body>
</html>
