<style>
.popin{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'arial', sans-serif;
}
.popin .layer{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    visibility:hidden;
    opacity:0;
    transition: all 0.5s;
}
.popin .content{
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 8px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    visibility:hidden;
    opacity:0;
    transition: all 0.5s;
}
.popin .popin_check:checked ~ .layer,
.popin .popin_check:checked ~ .content{
    visibility:visible;
    opacity:1;
    margin-top:0;
}
.popin .content .header{
    padding: 5px;
    min-height: 1.5em;
    border-bottom: 1px solid;
}
.popin .close_popin{
    cursor: pointer;
    float: right;
    font-weight: bold;
}
.popin .content .main{
    padding: 5px 0;
}
.show_popin{
    cursor: pointer;
}
.modal-button {
    float: right; 
  display: inline-block;
  padding: 10px 15px;
  background-color: #5ec792;
  border: none;
  color: #000;
  font-size: 1.0rem;
  font-weight: bold;
  cursor: pointer;
}
.close {
    float: right;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
</style>

<div class="popin" style="background-image:url(/static/bg.png); background-repeat:repeat;">    
    <input id="popin_check_1" type="checkbox" class="popin_check" hidden checked="true" />
    <label class="layer fadeIn" for="popin_check_1"></label>
    <div class="content fadeIn" style="background-image:url(/static/bg.png); background-repeat:repeat;">
        <div class="header">Prenotazioni<label class="close_popin" for="popin_check_1">X</label></div>
        <div class="main">
           
		
	     <img  style="width: 10%; color:#000000; font-size: 1.5em; margin-left:2%; margin-top:5%; font-weight: bold;" src="/static/img/telefono_4.jpg}"> Telefonando al <b>+39 3207060411 </b></img>
         <br>
         <img  style="width: 10%; color:#000000; font-size: 1.5em; margin-left:2%; margin-top:5%; font-weight: bold;" src="/static/img/email_3.jpg"> Inviando un E-Mail a <b>bruna.bbaldini@gmail.com </b></img>

        <!--<label class="modal-button close" for="popin_check_1">Close</label>-->
    </div>
     <a class="modal-button" href="/">HOME</a>
</div>



